/**
* Abstracts
*/
/**
* Colors
*/
/**
* Fonts
*/
/**
* Layout
*/
/**
* Sizes
*/
/**
* Transitions and Animations
*/
/**
* Radius
*/
/**
* Z-indexes
*/
/**
* Base
*/
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 100%;
  color: #b4b4c0;
  background-color: #1e1e1e;
  scroll-behavior: smooth;
}

body {
  font-size: calc($pixels / $context * 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: calc($pixels / $context * 1rem);
}

input {
  font-size: calc($pixels / $context * 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: calc($pixels / $context * 1rem);
  color: #b4b4c0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #b4b4c0;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  cursor: pointer;
}

/**
* Blocks
*/
.title {
  font-family: "Cherry Bomb";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e9e9e9;
}

.button {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: calc($pixels / $context * 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: #e9e9e9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  height: 50px;
}

.button__icon {
  width: calc($pixels / $context * 1rem);
  height: calc($pixels / $context * 1rem);
}

.button_iconed {
  width: calc($pixels / $context * 1rem);
  height: calc($pixels / $context * 1rem);
  border: calc($pixels / $context * 1rem) solid #b85526;
  border-radius: calc($pixels / $context * 1rem);
  background-color: inherit;
  background-size: contain;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.button_big {
  width: calc($pixels / $context * 1rem);
}

.button_medium {
  width: calc($pixels / $context * 1rem);
}

.button_small {
  width: calc($pixels / $context * 1rem);
}

.button_orange {
  background-color: #b85526;
}

.button_purple {
  background-color: #4c3f78;
}

.button_light {
  color: #4c3f78;
  background-color: #b4b4c0;
}

.button_hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: calc($pixels / $context * 1rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: calc($pixels / $context * 1rem);
  padding-left: calc($pixels / $context * 1rem);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: #2c2c2c;
  border: calc($pixels / $context * 1rem) solid #b4b4c0;
  -webkit-box-shadow: calc($pixels / $context * 1rem) calc($pixels / $context * 1rem) calc($pixels / $context * 1rem) rgba(62, 5, 4, 0.25);
          box-shadow: calc($pixels / $context * 1rem) calc($pixels / $context * 1rem) calc($pixels / $context * 1rem) rgba(62, 5, 4, 0.25);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc($pixels / $context * 1rem);
  padding-top: calc($pixels / $context * 1rem);
  padding-bottom: calc($pixels / $context * 1rem);
}

.header__navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.logo-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc($pixels / $context * 1rem);
}

.logo-group__title {
  font-family: "Open Sans Hebrew Condensed";
  font-style: normal;
  font-size: calc($pixels / $context * 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: 76px;
  color: #e9e9e9;
}

.logo-group__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: calc($pixels / $context * 1rem);
}

.logo-group__philosophy {
  background: url(../../../../assets/images/icons/philosophy.svg) no-repeat;
  width: calc($pixels / $context * 1rem);
  height: calc($pixels / $context * 1rem);
}

.logo-group__league {
  background: url(../../../../assets/images/icons/league-logo.svg) no-repeat;
  width: calc($pixels / $context * 1rem);
  height: calc($pixels / $context * 1rem);
}

.control-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc($pixels / $context * 1rem);
  margin-left: auto;
}

.control-group__item {
  width: calc($pixels / $context * 1rem);
  height: calc($pixels / $context * 1rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
  cursor: pointer;
}

.control-group__item_settings {
  background-image: url(../../../../assets/images/icons/settings.svg);
}

.control-group__item_login {
  background-image: url(../../../../assets/images/icons/avatar.svg);
}

.control-group__item_logout {
  background-image: url(../../../../assets/images/icons/logout.svg);
}
/*# sourceMappingURL=header.component.css.map */