@import "../../../../assets/styles/global.scss";

.meetups {
  margin-top: rem(
    $height-header-desktop + $height-breadcrumbs + $height-big-padding
  );

  &__search-bar {
    margin-top: rem(36px);
    margin-bottom: rem($height-big-padding);
  }

  &__pagination {
    margin-bottom: rem($height-big-padding);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(40px);
    margin-bottom: rem($height-big-padding);
  }

  &__item {
    list-style: none;
  }

  &__filters {
    display: flex;
    width: rem(250px);
    
    &-panel {
      margin-top: rem(36px);
      display: flex;
      gap: rem(10px);
      flex-wrap: wrap;
    }

    &-item {
      width: 100%;
    }
  }
}
