<section class="meetups">
  <div class="meetups__container container">
    <div class="meetups__search-bar">
      <app-search-bar [searchInput]="searchInput" (searchEvent)="searchMeetups($event)"></app-search-bar>
    </div>
  <ul class="meetups__list" *ngIf="currentPageMeetups">
    <li class="meetups__item" *ngFor="let meetup of currentPageMeetups">
      <app-meetup [meetup]="meetup" (signMeetupEvent)='signMeetupEvent($event)' (signOverMeetupEvent)='signOverMeetup($event)' [userId]="userId"/>
    </li>
  </ul>
  <div class="meetups__pagination">
    <app-pagination [pagination]="pagination" (onPaginationChange)='onPaginationChange($event)'></app-pagination>
  </div>
</div>
</section>
