@import "../../../../assets/styles/global.scss";

.meetups {
  margin-top: rem($height-header-desktop + 40);

  &__search-bar {
    margin-top: rem(36px);
    margin-bottom: rem(72px);
  }

  &__pagination {
    margin-bottom: rem(72px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(40px);
    margin-bottom: rem(72px);
  }

  &__item {
    list-style: none;
  }

  &__filters {
    display: flex;
    width: 100%;
    max-width: 200px;
    margin-top: rem(36px);
    justify-content: flex-start;
  }
}
