<section class="registration">
  <div class="registration__container">
    <form
      class="registration-form"
      [formGroup]="registrationForm"
      (submit)="submitApplication()"
    >
      <div class="registration-form__item">
        <input
          class="registration-form__input"
          type="text"
          id="fio"
          name="fio"
          placeholder="Full name"
          formControlName="fio"
        />
        <div
          class="registration-form__message registration-form__message_error"
          *ngIf="submitted && fio?.errors?.['required']"
        >
          Поле "ФИО" является обязательным.
        </div>
      </div>
      <div class="registration-form__item">
        <input
          class="registration-form__input"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
        />
        <div
          class="registration-form__message registration-form__message_error"
          *ngIf="submitted && email?.errors?.['required']"
        >
          Поле "Email" является обязательным.
        </div>
      </div>
      <div class="registration-form__item">
        <input
          class="registration-form__input"
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <div
          class="registration-form__message registration-form__message_error"
          *ngIf="submitted && password?.errors?.['required']"
        >
          Поле "Пароль" является обязательным.
        </div>
        <div
          *ngIf="submitted && registrationError"
          class="registration-form__message registration-form__message_error"
        >
          {{ registrationError }}
        </div>
        <div
          *ngIf="submitted && registrationSuccess"
          class="registration-form__message registration-form__message_success"
        >
          {{ registrationSuccess }}
        </div>
      </div>
      <div class="registration-form__panel">
        <a routerLink="/login" class="registration-form__link"
          >Already have an account?</a
        >
        <button
          type="submit"
          class="registration-form__btn button button_medium button_purple"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</section>
