<section class="my-meetups">
  <div class="my-meetups__container container">
    <div class="my-meetups__create">
        <a
          routerLink="/my-meetups/create"
          class="my-meetups__btn button_iconed"
        >
          <div class="my-meetups__btn_add"></div>
        </a>
    </div>
    <div class="my-meetups__search-bar">
      <app-search-bar [searchInput]="searchInput" (searchEvent)="searchMeetups($event)"></app-search-bar>
    </div>
  <ul class="my-meetups__list" *ngIf="currentPageMeetups">
    <li class="my-meetups__item" *ngFor="let meetup of currentPageMeetups">
      <app-meetup [meetup]="meetup" (signMeetupEvent)='signMeetupEvent($event)' (signOverMeetupEvent)='signOverMeetup($event)' [userId]="userId"/>
    </li>
  </ul>
  <h2 *ngIf="!currentPageMeetups.length" class="my-meetups__title title">У вас пока нет митапов.</h2>
  <div class="my-meetups__pagination">
    <app-pagination [pagination]="pagination" (onPaginationChange)='onPaginationChange($event)'></app-pagination>
  </div>
  </div>
</section>