<section class="user-form-section">
  <div class="user-form-section__container">
    <form
      class="user-form"
      [formGroup]="userForm"
      (submit)="submitApplication()"
    >
      <div class="user-form__item user-form__item_large">
        <input
          class="user-form__input"
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <div
          class="user-form__error"
          *ngIf="submitted && email?.errors?.['required']"
        >
          Field "Email" is required.
        </div>
      </div>
      <div class="user-form__item user-form__item_big">
        <input
          class="user-form__input"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <div
          class="user-form__error"
          *ngIf="submitted && password?.errors?.['required']"
        >
          Field "Password" is required.
        </div>
        <div *ngIf="submitted && userError" class="user-form__error">
          {{ userError }}
        </div>
      </div>
      <div class="user-form__item user-form__item_medium">
        <select name="role" class="user-form__select" formControlName="role">
          <option *ngFor="let role of roles" [selected]="role === selectedRole">{{ role }}</option>
        </select>
        <div
          class="user-form__error"
          *ngIf="submitted && password?.errors?.['required']"
        >
          Field "Password" is required.
        </div>
        <div *ngIf="submitted && userError" class="user-form__error">
          {{ userError }}
        </div>
      </div>
      <div class="user-form__item user-form__item_small user-form__panel">
        <button type="button" class="user-form__btn button_iconed user-form__btn_close"></button>
        <button type="button" class="user-form__btn button_iconed user-form__btn_edit"></button>
      </div>
    </form>
  </div>
</section>
