<header class="header">
  <div class="header__container container">
    <div class="header__logo-group logo-group">
      <span class="logo-group__title">MeetUps</span>
      <div class="logo-group__icons">
        <span class="logo-group__philosophy"></span>
        <span class="logo-group__league"></span>
      </div>
    </div>
    <app-navbar *ngIf="isAuth" class="header__navbar" />
    <div class="header__control-group control-group">
      <button *ngIf="isAuth" class="control-group__item control-group__item_settings"></button>
      <button *ngIf="isAuth" (click)="logout()" class="control-group__item control-group__item_logout"></button>
      <a *ngIf="!isAuth" class="control-group__item control-group__item_login" routerLink="/login"></a>
    </div>
  </div>
</header>
