* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: 100%;
  color: $color-text;
  background-color: $color-bg;
  scroll-behavior: smooth;
}

body {
  @include font(
    $size: rem($font-size-base),
    $height: rem($line-height-base),
  );
}

input {
  @include font(
    $size: rem($font-size-base),
    $height: rem($line-height-base),
  );
}

button {
  cursor: pointer;
}
