.title {
  font-family: $font-family-additional;
  font-style: normal;
  font-weight: $font-weight-base;
  font-size: $font-size-big;
  line-height: normal;
  display: flex;
  align-items: center;
  color: $mercury;
}
